<div class="sign-up">
    <div class="icon-menu">
        <i class="fa fa-bars"></i>
        Menu
    </div>
    <h2 style="text-align:center">Get the latest updates from Stories</h2>
    <div class="row">
        <div class="col-md-4 col-md-4-offset">
        </div>
        <div class="col-md-4">
            <form accept-charset="UTF-8" action="/signups" class="new_signup" id="new_signup" method="post">
                <div style="display:none">
                    <input name="utf8" type="hidden" value="&#x2713;" />
                    <input name="authenticity_token" type="hidden" value="H2WAFb1YH0gK7pbQPjORvMSCVKzRfcuIR7FvcV6Rb+I=" />
                </div>
                <div class="form-group">
                    <label>First name</label>
                    <input class="form-control" id="signup_firstname" name="signup[firstname]" type="text" />
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" id="signup_email" name="signup[email]" type="text" />
                </div>
                <input class="btn btn-default" name="commit" type="submit" value="Join" />
            </form>
        </div>
    </div>
</div>