    <div class="home-main">
      <div class="icon-menu">
        <i class="fa fa-bars"></i>
        Menu
      </div>
      <div class="container">
        <div class="row"> 
          <br>
          <br>
          <br>
          <br>
          <p class="selfintro">My name is Chenyun Zhang. I'm looking for a software engineer full-time job. I'm a Computer Science graduate student of New York University. I graduated May 2015. I had an internship at iBridgeLanguage LLC which is a start-up company provides top quality translation service. My main responsibility is to design and develop a human-powered translation Android APP and a hospital satisfaction survey Web APP. Also, I have some academic projects about cloud computing and big data analysis.</p> 
        </div>
      </div> 
    </div> 
    <div class="support"> 
      <div class="container"> 
        <embed src="assets/ChenyunZhangResumeCopy.pdf" width="1200" height="1600">
      </div> 
    </div>  