 
<<<<<<< HEAD
    
=======
    <div class="menu">
      
      <!-- Menu icon -->
      <div class="icon-close">
        <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/close.png">
      </div>

      <!-- Menu -->
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>     
>>>>>>> db637c28ecffbf03f5fa119d64632a148b14cac0
    <div class="home-main">
      <div class="icon-menu">
        <i class="fa fa-bars"></i>
        Menu
      </div>
      <div class="container"> 
      	<div class="row"> 
          <div class="content col-md-6 col-md-offset-6"> 
            <h1>Create and share Stories</h1> 
            <p><a class="btn btn-primary" href="about">Learn more</a></p> 
          </div> 
        </div> 
      </div> 
    </div> 
    <div class="home-supporting"> 
      <div class="container"> 
        <h2>Relive and share your adventures</h2> 
        <p>Stories automatically creates a digital journal filled with only your best photos.</p> 
      </div> 
    </div> 
    <div class="home-secondary"> 
      <div class="container"> 
      </div> 
    </div> 
    <div class="home-about"> 
      <div class="container"> 
        <h2>Discover Stories</h2> 
        <p><a class="btn btn-primary" href="about">Learn more</a></p> 
      </div> 
    </div> 
<<<<<<< HEAD

    
=======
    <div class="footer"> 
      <div class="container"> 
        <p>A display Project by Chenyun Zhang</p> 
      </div> 
    </div> 
    
>>>>>>> db637c28ecffbf03f5fa119d64632a148b14cac0
