
<!DOCTYPE html> 
<html> 
  <head> 
    <title>Stories</title> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> 
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'> 
    <link data-turbolinks-track="true" href="/assets/application-d2befa18d19feb28c32cb66aac5f1054.css" media="all" rel="stylesheet" /> 
    <meta content="authenticity_token" name="csrf-param" />
	<meta content="H2WAFb1YH0gK7pbQPjORvMSCVKzRfcuIR7FvcV6Rb+I=" name="csrf-token" /> 
 	</head> 
  <body> 
    <div class="menu">
      
      <!-- Menu icon -->
      <div class="icon-close">
        <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/close.png">
      </div>

      <!-- Menu -->
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>     
    <div class="home-main">
      <div class="icon-menu">
        <i class="fa fa-bars"></i>
        Menu
      </div>
      <div class="container"> 
      	<div class="row"> 
          <div class="content col-md-6 col-md-offset-6"> 
            <h1>Create and share Stories</h1> 
            <p><a class="btn btn-primary" href="about">Learn more</a></p> 
          </div> 
        </div> 
      </div> 
    </div> 
    <div class="home-supporting"> 
      <div class="container"> 
        <h2>Relive and share your adventures</h2> 
        <p>Stories automatically creates a digital journal filled with only your best photos.</p> 
      </div> 
    </div> 
    <div class="home-secondary"> 
      <div class="container"> 
      </div> 
    </div> 
    <div class="home-about"> 
      <div class="container"> 
        <h2>Discover Stories</h2> 
        <p><a class="btn btn-primary" href="about">Learn more</a></p> 
      </div> 
    </div> 
    <div class="footer"> 
      <div class="container"> 
        <p>A display Project by Chenyun Zhang</p> 
      </div> 
    </div> 
    <script data-turbolinks-track="true" src="stories/app/assets/javascripts/application.js"></script> 
  </body> 
</html>